{% extends "base.html" %}

{% block content %}
<style>
</style>
<div class="container-fluid">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <!-- <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div> -->
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                Logged In As , {{user}}
            </button>
        </div>
    </div>
    <div class="container text-center" id="parentDiv">
        <div class="row mb-3 text-center" >
            <div class="col-md-6 themed-grid-col" style="background-color:#212529;border-radius: 50px;">
                <div class="text-center" style="padding: 5px;">
                    <div style="font-size: large;color: aliceblue;">Account</div><br>
                    <div class="row" >
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;" onclick="ResetPassword()">Reset Your Account
                                Password</p>
                        </div>
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;">Change Your Account Username</p>
                        </div>
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;">Update Your Mobile Number</p>
                        </div>
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;">Delete My Account Permanently</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

</div>
<script>
    function ResetPassword() {
        $("#parentDiv").append(`
        <div class="col-md-6 themed-grid-col"><form>
            <div class="mb-3 row">
            <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
            </div>
            </form></div>`)
        post("/Reset/Password/", {}, function (res) {
            console.log('res', res);

        })
    }
</script>
{% endblock content %}