{% extends "base.html" %}

{% block content %}
<style>
    #IdMail{
        text-align: center;
        color: orange;
        font-weight: 300;
        background-color: #212529;
    }
 
</style>
<div class="container-fluid">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <!-- <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div> -->
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                Logged In As , {{request.user.username}}
            </button>
        </div>
    </div>
    <div class="container text-center" id="parentDiv">
        <div class="row mb-3 text-center">
            <div class="col-md-6 themed-grid-col" style="background-color:#212529;border-radius: 50px;">
                <div class="text-center" style="padding: 5px;">
                    <div style="font-size: large;color: aliceblue;">Account</div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;" onclick="ResetPassword()">Reset Your Account
                                Password</p>
                        </div>
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;">Change Your Account Username</p>
                        </div>
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;">Update Your Mobile Number</p>
                        </div>
                        <div class="col-md-6">
                            <p style="color: orange;font-weight: 300;">Delete My Account Permanently</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

</div>
<script>
    function ResetPassword() {
        $(document.body).append(`
        <div class="container text-center">
            <form action="" class="form-control" id="PasswordResetForm" onsubmit="submitForm(event,this)">
            {% csrf_token %}
            <input id="IdMail" name="mailOfUser" type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{request.user.email}}"><br>
            <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Old Password</span>
            <input type="password" id="idOldPass" name="oldPassOfUser" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
            <span class="input-group-text"  id="inputGroup-sizing-sm">New Password</span>
            <input type="password" id="idNewPass" name="NewPassOfUser" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">Confirm Password</span>
            <input type="password" id="idNewPass2" name="NewPassOfUser2"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">reset</button>
            </form>
        </div>
    </div>
       `)

        
    }


function submitForm(e,thiss){
    e.preventDefault();
    console.log(thiss);
    var dataObject = {};
    var formData = new FormData(thiss);
    for (var p of formData) {
        let name = p[0];
        let value = p[1];
        dataObject[name] = value;
        console.log(name, value)
    }
    post("/Reset/Password/",dataObject,function(res){
        console.log(res);
        if (res.message == "Password Didn't Match With Your Old Password"){
            alert("Password Didn't Match With Your Old Password");
        }
        thiss.reset();
    })
}
   
</script>
{% endblock content %}